<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <h1>¡WELCOME TO ANAGRAMS!</h1>
  <p><font>by alux : versión beta</font></p>

  <form action='/new_word' method="post" target="_blank">
    Word: <input type="text" name="user_word" size="12" placeholder="type your word" required autofocus>
  <input type="image" src="http://www.spcadbn.org.za/img/searchbutton.png" alt="Submit" width="20" height="20">
  </form>

</body>
</html>