<html>
<form action='/new_word' method="post">
  <fieldset>

  <legend><font color="white" align="center">Do you want to search for another anagram?:</font></legend>

  <input type="text" name="user_word" size="56" placeholder="type your word" required autofocus>  

  <input type="image" src="http://www.spcadbn.org.za/img/searchbutton.png" alt="Submit" width="20" height="20">
</form>
</html>